html {
    font-family: Helvetica;
}

/* Assign Subjects */
select {
    color: #000 !important; 
    background-color: #fff !important; 
}

option {
    color: #000 !important; 
    background-color: #fff !important; 
}


/* Base button style */
.btn {
    border-radius: 20px;
    border: 2px solid;  
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: transparent;
    transition: all 0.3s ease;
}

/* Approve button */
.btn-success {
    border-color: green;
    color: green;
}

/* Decline button */
.btn-danger {
    border-color: red;
    color: red;
}

/* Hover effect for Approve button */
.btn-success:hover {
    background-color: green;
    color: white;
}

/* Hover effect for Decline button */
.btn-danger:hover {
    background-color: red;
    color: white;
}
